In [1]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [2]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [3]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-24 18:06:56

In [4]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 160
The area of the circle with radius 160.0 is: 80424.77193189871

In [5]:
fname = input("Input your First Name :Talha ")
lname = input("Input your Last Name :Lodhi ")
print ("Hello  " + lname + " " + fname)

Input your First Name :TalhaLodhi
Input your Last Name :Lodhi Talha
Hello  Talha Lodhi

In [6]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))

sum = a + b

print("sum:", sum)

enter first number: 3
enter second number: 6
sum: 9

In [7]:
maths_marks = 89
eng_marks = 99
isl_marks = 75
total_marks = 300
marks_obtained = maths_marks + eng_marks + isl_marks
percentage = marks_obtained / total_marks * 100
print("Total Marks Obtained =", marks_obtained, "out of 300")
print("percentage =", percentage)
print("Total Marks Obatined =", marks_obtained, "out of 300")
print("percentage =", percentage)

if (percentage > 80 and percentage < 100):
    print("Grade A+")
elif(percentage > 70 and percentage < 80):
    print("Grade A")
elif(percentage > 60 and percentage < 70):
    print("Grade B")
elif(percentage > 50 and percentage < 60):
    print("Grade C")
elif(percentage > 40 and percentage < 50):
    print("Grade D")
elif(percentage > 30 and percentage < 40):
    print("Failed")

Total Marks Obtained = 263 out of 300
percentage = 87.66666666666667
Total Marks Obatined = 263 out of 300
percentage = 87.66666666666667
Grade A+

In [8]:
num = int(input("0, 2"))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

0, 28
8 is Even

In [12]:
inp_lst = ['Dani','hummu','AV','Zain','jafery']
size = 0
print("Length of the input string:")
for x in inp_lst:
    size+=1
print(size)

Length of the input string:
5

In [17]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

In [15]:
list1 = [36, 60, 90, 130, 199]
print("Largest element is:", max(list1))

Largest element is: 199

In [16]:
a= [1, 6, 2, 4, 5, 8, 13, 18, 44, 45, 90]
[i for i in a if i <5]
print(a)

[1, 6, 2, 4, 5, 8, 13, 18, 44, 45, 90]