In [3]:
print("Talha Lodhi");

Talha Lodhi

In [1]:
maths_marks = 77
eng_marks = 88
isl_marks = 76
total_marks = 300
marks_obtained = maths_marks + eng_marks + isl_marks
percentage = marks_obtained / total_marks * 100

In [14]:
print("Total Marks Obtained =", marks_obtained, "out of 300")
print("percentage =", percentage)

Total Marks Obtained = 263 out of 300
percentage = 87.66666666666667

In [2]:
print("Total Marks Obatined =", marks_obtained, "out of 300")
print("percentage =", percentage)

if (percentage > 80 and percentage < 100):
    print("Grade A+")
elif(percentage > 70 and percentage < 80):
    print("Grade A")
elif(percentage > 60 and percentage < 70):
    print("Grade B")
elif(percentage > 50 and percentage < 60):
    print("Grade C")
elif(percentage > 40 and percentage < 50):
    print("Grade D")
elif(percentage > 30 and percentage < 40):
    print("Failed")

Total Marks Obatined = 241 out of 300
percentage = 80.33333333333333
Grade A+

In [2]:
age = int(input("Enter Age"));
gender = input("Enter Gender")
if age > 18 and gender == "male":
    print("Allow");
else:
    print("Don't Allow")

Enter Age18
Enter Gendermale
Don't Allow

In [3]:
name1 = Sheery;
name2 = Danish;
name3 = Talha;
name4 = Hamza;
name5 = Qadeer;
name6 = Ali;
print(name1+","+name2+","+name3+","+name4+","+name5+","+name6)

NameError: name 'Sheery' is not defined